[submodule "submodule/voxcpm-rs"]
	path = submodule/voxcpm-rs
	url = https://github.com/Nahida-aa/voxcpm-rs.git
[submodule "submodule/VoxCPM"]
	path = submodule/VoxCPM
	url = https://github.com/OpenBMB/VoxCPM.git
[submodule "submodule/demucs-rs"]
	path = submodule/demucs-rs
	url = https://github.com/Nahida-aa/demucs-rs.git
